<?xml version="1.0" encording="UTF-8"?>
<!DOCTYPE html>
<html>

<head>
    <title>Enhancement of OT security cyber range platform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body style="background-image: url('../static/images/bgimg3.png');"></body>>

<h1 style="color:white">Enhancement of OT security cyber range platform</h1>
<hr>

<p id="firstname"> Active/De-active the attack. </p>

<div id="overlay1" onclick="off1()">
    <div id="text">back to control</div>
    <p>
        <img src="../static/images/attack.png" alt="Nature" border="3" style="width:100%">
    </p>
</div>

<div id="overlay2" onclick="off2()">
    <div id="text">back to control</div>
    <p>
        <img src="../static/images/mimAttack.png" alt="Nature" border="3" style="width:100%">
    </p>
</div>

<div style="padding:20px">
    <h2 style="color:white">Black Out Attack </h2>
    <form action="http://localhost:5000/index" method="post">
        <button class="btn danger" type="submit" name="submit_button" value="startAtt1">Start attack</button>
        <button class="btn success" type="submit" name="submit_button" value="stopAtt1">Stop attack</button>
    </form>
    <button class="btn info" onclick="on1()">Show detail</button>
</div>

<script>
    function on1() {
        document.getElementById("overlay1").style.display = "block";
    }

    function off1() {
        document.getElementById("overlay1").style.display = "none";
    }
</script>

<div style="padding:20px">
    <h2 style="color:white"> False Data Injection Attack </h2>
    <form action="http://localhost:5000/index" method="post">
        <button class="btn danger" type="submit" name="submit_button" value="startAtt2">Start attack</button>
        <button class="btn success" type="submit" name="submit_button" value="stopAtt2">Stop attack</button>
    </form>
    <button class="btn info" onclick="on2()">Show detail</button>

</div>

<script>
    function on2() {
        document.getElementById("overlay2").style.display = "block";
    }

    function off2() {
        document.getElementById("overlay2").style.display = "none";
    }
</script>

</body>

</html>