body {
    background-color: #f1f1f1;
    padding: 10px;
    font-family: Arial;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

form {
    display: inline;
}

p#firstname {
    color: white;
    background-color: black
  }

a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: #e7e7e7;
}

a:link {
    color: #0679a0;
}

a:visited{
    color: #cccccc
}

a:hover, a:active{
    color:#E03a3e
}

#overlay1 {
    position: fixed;
    display: none;
    width: 50%;
    height: 50%;
    top: 200px;
    left: 500px;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

#overlay2 {
    position: fixed;
    display: none;
    width: 50%;
    height: 50%;
    top: 200px;
    left: 500px;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.btn {
    position: static;
    border: none;
    border-radius: 8px;
    background-color: #1173CA;
    color: white;
    padding: 8px 16px;
    margin-right:12px;
    font-size: 12px;
    cursor: pointer;
}

/* Green */
.success {
    background-color: #4CAF50;
    color: white;
}

.success:hover {
    background-color: #4CAF50;
    color: black;
}

/* Blue */
.info {
    border-color: #2196F3;
    color: white;
}

.info:hover {
    background: #2196F3;
    color: white;
}

/* Orange */
.warning {
    border-color: #ff9800;
    color: white;
}

.warning:hover {
    background: #ff9800;
    color: white;
}

/* Red */
.danger {
    border-color: #1173CA;
    color: white;
}

.danger:hover {
    background: #1173CA;
    color: red;
}

/* Gray */
.default {
    border-color: #e7e7e7;
    color: black;
}

.default:hover {
    background: #e7e7e7;
}